<main class="bg-image flex-col h-screen items-center flex bg-cover bg-top">
  <div
    class="flex items-center h-[100px] w-[250px] md:w-[350px] lg:w-[550px] rounded-b-[25px] bg-[rgba(255,255,255,0.1)] backdrop-blur-[4.8px] border-[1px] border-white"
  >
    <h1 class="text-center w-full">Home</h1>
  </div>
  <div class="h-screen flex items-center relative bottom-[50px]">
    <button
      class="text-white w-[200px] h-[50px] rounded-[25px] border-[1px] backdrop-blur-[4.8px] bg-[rgba(255,255,255,0.1)] jolly text-[32px] font-normal"
    >
      Log Out
    </button>
  </div>
</main>
