<main class="bg-image flex-col h-screen items-center flex bg-cover bg-[center_top_10%]">
    <div
      class="flex items-center h-[100px] w-[250px] md:w-[350px] lg:w-[550px] rounded-b-[25px] bg-[rgba(255,255,255,0.1)] backdrop-blur-[4.8px] border-[1px] border-white"
    >
      <h1 class="text-center w-full"><a href="/signup">Sign Up</a></h1>
    </div>
    <div class="h-screen flex items-center relative">
      <form
        action="/auth/login"
        method="POST"
        class="text-white w-[350px] h-[450px] rounded-[25px] border-[1px] backdrop-blur-[4.8px] bg-[rgba(255,255,255,0.1)] jolly text-[32px] font-normal flex flex-col justify-around items-center"
      >
        <span>Log In</span>
        <div class="flex-col flex gap-6 items-center">
          <input type="text" name="username" placeholder="Username"/>
          <input type="password" name="password" placeholder="Password"/>
          <button
            class="text-white w-[150px] h-[35px] rounded-[25px] border-[1px] bg-[rgba(255,255,255,0.1)] jolly text-[20px]"
          >
            Log In
          </button>
        </div>
        <a href="/signup" class="text-2xl relative bottom-3">Don't have an account?</a>
      </form>
    </div>
  </main>
  